<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ca.sait.backup.mapper.AssetMapper">

    <!-- Generic query to return all projects in the database -->
    <select id="getAllCategories" resultType="Category">
        SELECT * FROM projectcategory;
    </select>

    <select id="getAllCategoriesForProject" resultType="Category">
        SELECT * FROM projectcategory
        WHERE (
            projectId =#{iProjectId}
        );
    </select>

    <!-- Return all folders belonging to a category -->
    <select id="getAllFoldersForCategory" resultType="AssetFolder">
        SELECT * FROM projectfolder
        WHERE (
            projectId =#{iProjectId} AND
            categoryId =#{iCategoryId}
        );
    </select>

    <select id="getAllAssetsForCategory" resultType="Asset">
        SELECT * FROM projectasset
        WHERE (
            projectId =#{iProjectId} AND
            categoryId =#{iCategoryId}
        );
    </select>

    <select id="getAllFoldersInsideFolder" resultType="AssetFolder">
        SELECT * FROM projectfolder
        WHERE (
            projectId =#{iProjectId} AND
            parentId =#{iCurrentFolderId}
        );
    </select>

    <select id="getAllAssetsInsideFolder" resultType="Asset">
        SELECT * FROM projectasset
        WHERE (
            projectId =#{iProjectId} AND
            folderId =#{iCurrentFolderId}
        );
    </select>

    <select id="getAssetFolderFromId" resultType="AssetFolder">
        SELECT * FROM projectfolder
        WHERE (
            id =#{iAssetFolderId}
        );
    </select>

</mapper>